
.personnalInfo{
  border: solid 1px grey;
  border-radius:5px;
  margin-top: 8%;
  margin-bottom: 6%;
  padding: 3% 5%;
  font-size: 18px;

}
.avalaibledates{
  text-align: center;
  width:25%;

  ul{
    padding-left: 0px;
  }

  li{
    background-color:#b08266;
    opacity: 0.8;
    list-style: none;
    margin-bottom: 5%;
    text-align:center;
    border-radius: 5px;
    padding: 5%;
    font-size: 18px;
    color:white;
  }

    li:hover{
    opacity: 1;

  }
}

#calendar{
}

.inactif{
  display: none;
}


.formCalendar{
  width:100%;
}


.appointmentRecap{
  border:solid 2px #b08266;
  opacity: 0.8;

    margin-bottom: 5%;
    text-align:center;
    border-radius: 5px;
    padding: 5%;
    font-size: 20px;
    color:#7a7a7a;
}
