// Specific CSS for your home-page
.container.consult{
  margin-top:2%;
}

.card.consult{
  padding:5%;
}


.consult h2{
  margin-bottom:2%;
}

.consult .title{
  height:2em;
  color:#94969b;
  font-size: 22px;
  margin-bottom:5%;
}

.consult .address{
  height:4em;
  font-size: 16px;
  margin-bottom:5%;
}

.consult p{
  font-size: 16px;
  margin-bottom: 0;

}

.consult .date{
  height:9em;
  margin-bottom:5%;
}

.consult .appointment{
  height:6em;
}
