// Specific CSS for your home-page

.container.consult{
  margin-top:5%;
}

.card.consult{
  // padding:5%;
  margin-bottom: 5%;
}


.consult h2{
  margin-bottom:4%;
  color: #848181;
}

.consult .title{
  padding-top:5%;
  padding-bottom: 5%;
  padding-left: 5%;
  background-color:#9d515f;
  // height:2em;
  // color:#9d515f;
  color:white;
  font-size: 20px;
  margin-bottom:5%;
}

.consult .address{
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  margin-bottom:5%;
}

.address div{
  width: 85%;
}

.address .fas{
  margin: 5% auto;
  color: #9d515f;
}

.consult p{
  font-size: 16px;
  margin-bottom: 0;
  padding-left: 5%;

}

.consult .date{
  font-size:16px;
  display:flex;
  height:6em;
  margin-bottom:5%;
  .center{
    align-items:center;
    margin-left: 5%;
    padding-right: 5%;
  }
}


.consult .appointment{
  height:6em;
}

.tel{
  padding-top:7%;
 text-align: center;
  color: #9d515f;
  font-weight:bolder;
}
