// Specific CSS for your home-page
.container.consult{
  margin-top:2%;
}

.card.consult{
  padding:5%;
  margin-bottom: 5%;
}


.consult h2{
  margin-bottom:2%;
  color: #4B4B4C;
}

.consult .title{
  height:2em;
  color:#94969b;
  font-size: 22px;
  margin-bottom:5%;
}

.consult .address{
  display: flex;
  justify-content: space-between;
  height:4em;
  font-size: 16px;
  margin-bottom:5%;
}

.address div{
  width: 85%;
}

.address .fas{
  margin: 5% auto;
  color: #94969b;
}

.consult p{
  font-size: 16px;
  margin-bottom: 0;

}

.consult .date{
  display:flex;
  height:9em;
  margin-bottom:5%;
  .center{
    align-items:center;
    padding-left: 5%;
    padding-right: 5%;
  }
}


.consult .appointment{
  height:6em;
}
