<% if user_signed_in? %>
<% if controller.controller_name == "pages"  %>

<div class="navbar navbar-expand-sm navbar-dark fixed-top navbar-lewagon">

  <% else %>
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <%= link_to home_path do %>
    <i class="fas fa-home"></i>
    <% end %>


    <%end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% if current_user.email == "anais_christophe@hotmail.com" %>
          <li class="nav-item">
          <%= link_to "Dates", dates_path, class: "nav-link login_hover #{controller.controller_name == "dates" ? "active_nav" : "nothing"}"  %>
          <% end %>
      </li>

       <li class="nav-item">
        <%= link_to "Mes rendez-vous", appointments_path, class: "nav-link login_hover #{controller.controller_name == "appointments" ? "active_nav" : "nothing"}"  %>

      </li>
      <li class="nav-item">
        <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "nav-link login_hover"  %>
      </li>
    </ul>
  </div>

</div>

<% end %>
