<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1508387104394-d13e1b497f85?ixlib=rb-1.2.1&auto=format&fit=crop&w=1373&q=80);">
  <div class ="text">
    <h1>Dr Anaïs Christophe</h1>
    <p><em>Chirurgienne orthopédiste</em></p>
    <p>Consulte à Namur et Arlon</p>
  </div>
</div>

<div class="container consult">
  <h2>Consultations</h2>

  <div class="row justify-content-center">
    <div class="col-12 col-lg-4">
      <div class="card consult">
        <div class="title">C.H.R. Namur</div>
        <div class="address">
          <i class="fas fa-map-marker-alt"></i>
          <div> 185 avenue Albert Ier<br>5000 Namur</div>
        </div>
        <div class="date">
          <p>Lundi et jeudi après-midi</p>
          <p>Mardi toute la journée</p>
          <p>Mercredi et vendredi après-midi une semaine sur deux</p>
        </div>
        <div class="appointment">
          <p>Prise de rendez-vous par téléphone</p>
          <p class="tel">+32 (0)81 72 69 00</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-4">
      <div class="card consult">
        <div class="title">Polyclinique de Saint-Servais</div>
        <div class="address">
          <i class="fas fa-map-marker-alt"></i>
          <div> 182 chaussée de Wat​erloo<br>5002 Saint-Servais</div>
        </div>
        <div class="date">
         <p> Mercredi après-midi une semaine sur deux</p>
        </div>
        <div class="appointment">
          <p>Prise de rendez-vous par téléphone</p>
          <p class="tel">+32 XXX</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-4">
      <div class="card consult ">
        <div class="title">Cabinet Kineos</div>
        <div class="address">
          <i class="fas fa-map-marker-alt"></i>
          <div> 38 rue des déportés<br>6700 Arlon</div>
        </div>
        <div class="date">
          <p> Mercredi après-midi une semaine sur deux</p>
        </div>
        <div class="appointment">
          <p>Prise de rendez-vous en ligne</p>
            <%= link_to  "/users/sign_in" do %>
             <div class="button"> <i class="far fa-calendar-alt"></i> rendez-vous</div>
             <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
