<div class="banner">

  <div>
    <h1>Dr Anaïs Christophe  </h1>
    <p><em>Chirurgie orthopédique</em></p>
    <p><em>Chirurgie du pied et de la cheville</em></p>

  </div>


<!--   <div>
    <ul class="list-inline tabs-underlined">
    <li>
      <a href="#" class="tab-underlined active">Bookings</a>
    </li>
    <li>
      <a href="#" class="tab-underlined">Requests</a>
    </li>
    <li>
      <a href="#" class="tab-underlined">Conversations</a>
    </li>
  </ul>
  </div> -->
</div>




<div class="container consult">
  <h2>Consultations</h2>

  <div class="row justify-content-center">
    <div class="col-12 col-lg-4">
      <div class="card consult">
        <div class="title">C.H.R. Namur</div>
        <div class="address">
          <i class="fas fa-map-marker-alt"></i>
          <div><a href="http://maps.google.com/maps?q=185+Albert+Ier,+Namur,+5000"> 185 avenue Albert Ier<br>5000 Namur</a></div>
        </div>
<!--         <div class="date">
          <div class="date center">
          Lundi et jeudi après-midi</br>
          Mardi toute la journée</br>
          Mercredi et vendredi après-midi une semaine sur deux
          </div>
        </div> -->
        <div class="appointment">
          <p>Prise de rendez-vous par téléphone</p>
          <div class="tel"><a href="tel:+32 81 72 69 00">+32 81 72 69 00</a></div>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-4">
      <div class="card consult">
        <div class="title">Polyclinique de Saint-Servais</div>
        <div class="address">
          <i class="fas fa-map-marker-alt"></i>
          <div><a href="http://maps.google.com/maps?q=182+Chaussée+de+Waterloo,+Saint-Servais,+5002"> 182 chaussée de Wat​erloo<br>5002 Saint-Servais</a></div>
        </div>
<!--         <div class="date">
          <div class="date center">
          Mercredi après-midi une semaine sur deux
          </div>
        </div> -->
        <div class="appointment">
          <p>Prise de rendez-vous par téléphone</p>
          <div class="tel"><a href="tel:+32 81 77 70 00">+32 81 77 70 00</a></div>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-4">
      <div class="card consult ">
        <div class="title">Corps & Esprit - Centre de Santé</div>
        <div class="address">
          <i class="fas fa-map-marker-alt"></i>
          <div><a href="http://maps.google.com/maps?q=38+rue+des+déportés,+Arlon,+6700"> 38 rue des déportés<br>6700 Arlon</a></div>
        </div>
<!--         <div class="date">
          <div class="date center">
            Mercredi après-midi une semaine sur deux
          </div>
        </div> -->
        <div class="appointment">
          <p>Prise de rendez-vous en ligne</p>
            <%= link_to  "https://nam05.safelinks.protection.outlook.com/?url=http%3A%2F%2Fagenda.mobminder.com%2Fchristophe&data=02%7C01%7C%7C092a9a1e2004473784fa08d86b572ab0%7C84df9e7fe9f640afb435aaaaaaaaaaaa%7C1%7C0%7C637377369407748340&sdata=7qhv8w9F13%2FAcA69e3qKySGWBmej9NRs98vI%2BLUWioc%3D&reserved=0" do %>
             <div class="button">
              <i class="far fa-calendar-alt"></i>
              <p>rendez-vous</p>
            </div>
             <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
<!--   <div class="footer-links">
    <a href="https://www.linkedin.com/in/ana%C3%AFs-christophe-1ab058144/"><i class="fab fa-linkedin"></i></a>
  </div> -->
  <div class="footer-copyright">
    This website is powered by XXX
  </div>
</div>

</div>
