.button{
  display:flex;
  align-items:center;
  margin: 5% auto;
  background-color:#9d515f;
  border-radius: 5px;
  padding: 8px 10px;
  color:white;
  width:80%;
  p{
    margin-left: 4%;
  }
  input{
    color:white;
    margin: 0 auto;
  }
}

.button:hover{
  background-color: #953748;
  border-radius: 5px;
  padding: 8px 10px;
  text-decoration: none;
  input{
    color:white;
  }
}

a:hover{
  text-decoration:none;
}
