.button{
  margin: 5% auto;
  background-color:#94969b;
  border-radius: 5px;
  padding: 8px 10px;
  color:white;
  width:80%;

}

.button:hover{
  background-color: #7d7f83;
  border-radius: 5px;
  padding: 8px 10px;
}
