<div class="container">
ici show appointment
<br>

<%= "date rendez-vous: #{@appointment.date}" %> <br>
<%= "nom rendez-vous: #{@appointment.user.lastname}" %> <br>
<%= "prénom rendez-vous: #{@appointment.user.firstname}" %> <br>
<%= "téléphone rendez-vous: #{@appointment.user.phonenumber}" %> <br>


un truc récapitulatif sur annulation ???

</div>
